In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("DataFrames").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/11/30 12:02:42 WARN Utils: Your hostname, bhuvaneshwaran-Latitude-5420, resolves to a loopback address: 127.0.1.1; using 192.168.1.17 instead (on interface wlp0s20f3)
25/11/30 12:02:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/30 12:02:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

## ‚úî Method 1: From a Python List

In [4]:
data = [("Bhuvan", 25), ("Arun", 30)]
cols = ["Name", "Age"]

df = spark.createDataFrame(data, cols)
df.show()

+------+---+
|  Name|Age|
+------+---+
|Bhuvan| 25|
|  Arun| 30|
+------+---+

Why use this?

* For testing

* For small sample datasets

* To validate logic

In [5]:
from pyspark.sql import Row

# Create RDD and convert to DataFrame
data = [ 
    Row(Name="Krish", Age=31, Experience=10),
    Row(Name="Sudhanshi", Age=30, Experience=8),
    Row(Name="Ajay", Age=29, Experience=4)
]

df = spark.createDataFrame(data)
df.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshi| 30|         8|
|     Ajay| 29|         4|
+---------+---+----------+

## ‚úî Method 2: Reading a CSV File (Most common)

In [6]:
df = spark.read.csv(r"/home/bhuvaneshwaran/Desktop/Medium/csvFiles/Employees.csv", header=True, inferSchema=True)
df.show(50)

+---+-----------+---------------+------+----------+-----+--------------------+--------------------+------+--------------+-------------+--------+-----------+-------------+--------------+
| No| First Name|      Last Name|Gender|Start Date|Years|          Department|             Country|Center|Monthly Salary|Annual Salary|Job Rate|Sick Leaves|Unpaid Leaves|Overtime Hours|
+---+-----------+---------------+------+----------+-----+--------------------+--------------------+------+--------------+-------------+--------+-----------+-------------+--------------+
|  1|     Ghadir|          Hmshw|  Male|04/04/2018|    7|     Quality Control|               Egypt|  West|          1560|        18720|     3.0|          1|            0|           183|
|  2|       Omar|         Hishan|  Male|21/05/2020|    5|     Quality Control|        Saudi Arabia|  West|          3247|        38964|     1.0|          0|            5|           198|
|  3|      Ailya|         Sharaf|Female|28/09/2017|    8|  Major Mfg Projects|        Saudi Arabia|  West|          2506|        30072|     2.0|          0|            3|           192|
|  4|       Lwiy|          Qbany|  Male|14/08/2018|    7|       Manufacturing|United Arab Emirates|  Main|          1828|        21936|     3.0|          0|            0|             7|
|  5|      Ahmad|          Bikri|  Male|11/03/2020|    5|       Manufacturing|               Egypt|  Main|           970|        11640|     5.0|          0|            5|           121|
|  6|    Muhamad|         Zueitr|  Male|02/02/2016|    9| Product Development|        Saudi Arabia| North|          2332|        27984|     3.0|          3|            0|             8|
|  7|        Iin|      Alhalaliu|Female|08/05/2020|    5|               Sales|United Arab Emirates|  Main|          1959|        23508|     3.0|          6|            0|           116|
|  8|    Muhamad|          Alaya|  Male|10/02/2018|    7|  Account Management|               Egypt|  Main|          3394|        40728|     5.0|          0|            0|             7|
|  9|      Susin|        Almilat|Female|11/03/2018|    7|      Green Building|               Egypt| North|          1479|        17748|     4.5|          0|            0|           105|
| 10|    Muhamad|       Alrifaei|  Male|03/01/2020|    5|  Account Management|               Egypt|  Main|          1186|        14232|     4.5|          1|            0|           153|
| 11|    Muhamad|        Alqadah|  Male|16/01/2018|    7|       Manufacturing|               Syria|  Main|          1485|        17820|     2.0|          5|            0|            12|
| 12|    Muhamad|            Iad|  Male|19/07/2018|    7|                  IT|               Egypt|  Main|          2016|        24192|     1.0|          2|            0|            70|
| 13|     Razaan|          Nasif|Female|11/11/2018|    6|Facilities/Engine...|               Egypt|  Main|          1999|        23988|     5.0|          6|            0|            85|
| 14|     Iilian|            Dbs|Female|01/03/2016|    9|Facilities/Engine...|United Arab Emirates| North|          3404|        40848|     5.0|          1|            0|             8|
| 15|      Bayan|            Qdw|Female|04/12/2018|    6|           Marketing|               Egypt|  Main|           889|        10668|     3.0|          1|            1|             8|
| 16|       Alaa|        Muhamad|  Male|07/10/2019|    6|               Sales|               Egypt| South|           930|        11160|     3.0|          0|            0|            77|
| 17|     Sandra|    Aljurmqaniu|Female|27/05/2016|    9|  Account Management|        Saudi Arabia|  West|          3149|        37788|     4.5|          0|            0|            93|
| 18|    Farahad|         Husayn|  Male|12/05/2018|    7|     Quality Control|United Arab Emirates|  West|          1295|        15540|     3.0|          4|            0|           153|
| 19|       Ahed|          Salim|Female|24/04/2018|    7|     Quality Control|United Arab Emirates| South|          2162|        25944|     3.0|          0|            0|             8|
| 20|      Ayham|        Tutwnji|  Male|02/10/2019|    6| Product Development|United Arab Emirates|  West|          2180|        26160|     2.0|          6|            0|            10|
| 21|      Samir|        Alsafdi|  Male|03/12/2020|    4|  Account Management|               Egypt|  Main|          1475|        17700|     5.0|          0|            0|            98|
| 22|      Bilal|          Jalal|  Male|08/01/2019|    6| Manufacturing Admin|               Egypt|  Main|          1290|        15480|     3.0|          4|            0|           109|
| 23|       Riad|        Sahalul|  Male|14/11/2019|    5|            Training|        Saudi Arabia|  Main|          1764|        21168|     3.0|          0|            0|           111|
| 24|      Ahmad|          Ahmad|  Male|17/10/2019|    6|   Quality Assurance|        Saudi Arabia|  West|          2682|        32184|     4.5|          1|            0|            32|
| 25|    Muhamad|        Altarah|  Male|13/12/2020|    4|                  IT|               Egypt| North|          3044|        36528|     3.0|          6|            0|            94|
| 26|       Lwna|            Abu|Female|02/08/2020|    5| Product Development|               Egypt|  Main|           890|        10680|     4.5|          0|            0|            13|
| 27|      Jalal|       Almuluhi|  Male|03/12/2018|    6|     Quality Control|               Egypt|  West|          2207|        26484|     5.0|          0|            0|            70|
| 28|       Rana|           Mius|Female|06/03/2019|    6|       Manufacturing|        Saudi Arabia|  West|          2136|        25632|     4.5|          1|            0|             9|
| 29|       Lina|       Aljabaan|Female|16/12/2019|    5|     Quality Control|               Egypt|  Main|          1161|        13932|     5.0|          0|            1|            97|
| 30|       Rami|         Shanan|  Male|13/08/2019|    6|Professional Trai...|United Arab Emirates|  West|           830|         9960|     5.0|          0|            0|            71|
| 31|       Eala|          Alhaj|Female|09/06/2020|    5|   Quality Assurance|        Saudi Arabia|  West|          2977|        35724|     5.0|          0|            0|           100|
| 32|     Ghalib|      Zakianiin|  Male|19/05/2019|    6|Environmental Com...|               Syria| North|          3151|        37812|     3.0|          0|            5|            48|
| 33|    Muhamad|          Eurul|  Male|03/05/2017|    8|   Quality Assurance|               Egypt| North|          1551|        18612|     1.0|          0|            0|           148|
| 34|      Eizat|         Ghanim|  Male|21/06/2017|    8| Product Development|United Arab Emirates| South|          2099|        25188|     1.0|          0|            0|             5|
| 35|      Ahmad|           Swyd|  Male|01/02/2017|    8|               Sales|               Egypt| North|           808|         9696|     4.5|          1|            0|             7|
| 36|    Muhamad|         Aleass|  Male|23/09/2019|    6|       Manufacturing|        Saudi Arabia|  Main|           984|        11808|     4.5|          6|            0|            37|
| 37|       Rima|        AlAsfar|Female|27/01/2016|    9|   Quality Assurance|               Egypt| North|          1011|        12132|     5.0|          0|            3|             5|
| 38|       Zayn|Aleabdyn Zaetar|Female|29/11/2020|    4|     Quality Control|United Arab Emirates|  West|          2026|        24312|     5.0|          1|            0|             3|
| 39|      Hazim|     Alshshatim|  Male|17/06/2018|    7|     Quality Control|               Egypt|  Main|          2801|        33612|     3.0|          0|            0|             9|
| 40|        Dia|        Alshahf|  Male|14/09/2019|    6|           Marketing|United Arab Emirates|  Main|          3208|        38496|     3.0|          0|            0|             0|
| 41|      Ayham|        Almusaa|  Male|26/04/2019|    6|       Manufacturing|        Saudi Arabia| South|          2129|        25548|     4.5|          0|            0|            26|
| 42|Abd Allatif|        Mabrukh|  Male|10/12/2020|    4|Facilities/Engine...|               Egypt| North|          3344|        40128|     5.0|          0|            0|             7|
| 43|      Salim|       Abumaeun|  Male|30/06/2017|    8|  Account Management|United Arab Emirates|  Main|          2836|        34032|     5.0|          0|            0|            14|
| 44|      Rafat|          Hamza|  Male|03/05/2020|    5|     Quality Control|        Saudi Arabia|  Main|          1960|        23520|     3.0|          0|            0|             9|
| 45|      Ahmad|        Laylana|  Male|27/11/2016|    8|Facilities/Engine...|               Egypt|  Main|          1478|        17736|     4.5|          5|            6|             7|
| 46|     Lobnaa|       Khalifih|Female|18/12/2019|    5|           Marketing|United Arab Emirates| North|          1981|        23772|     2.0|          0|            0|             3|
| 47|       Sami|       Alkhujih|  Male|17/04/2019|    6|            Creative|United Arab Emirates|  Main|          2064|        24768|     2.0|          0|            0|             0|
| 48|      Salam|        Alealbi|Female|09/03/2016|    9|       Manufacturing|               Egypt|  Main|          1045|        12540|     5.0|          1|            0|             3|
| 49|        Rim|        Almusaa|Female|06/05/2020|    5|       Manufacturing|               Egypt|  West|          2022|        24264|     3.0|          0|            0|             1|
| 50|      Ghada|      Aleasimii|Female|21/10/2019|    6|   Quality Assurance|               Egypt| North|          2383|        28596|     5.0|          0|            4|             1|
+---+-----------+---------------+------+----------+-----+--------------------+--------------------+------+--------------+-------------+--------+-----------+-------------+--------------+
only showing top 50 rows

Explanation of every parameter:
### üè∑ header=True

Uses first row as column names.

### üìê inferSchema=True

Automatically detects data types.

### üõë Important note:
For production, avoid inferSchema=True.
It scans entire file ‚Üí slow.

### Alternative:

Define schema manually:

In [7]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("First Name", StringType(), True),
    StructField("Monthly Salary", IntegerType(), True)
])

df = spark.read.csv(r"/home/bhuvaneshwaran/Desktop/Medium/csvFiles/Employees.csv", header=True, schema=schema)

In [8]:
df.show()

+----------+--------------+
|First Name|Monthly Salary|
+----------+--------------+
|         1|          NULL|
|         2|          NULL|
|         3|          NULL|
|         4|          NULL|
|         5|          NULL|
|         6|          NULL|
|         7|          NULL|
|         8|          NULL|
|         9|          NULL|
|        10|          NULL|
|        11|          NULL|
|        12|          NULL|
|        13|          NULL|
|        14|          NULL|
|        15|          NULL|
|        16|          NULL|
|        17|          NULL|
|        18|          NULL|
|        19|          NULL|
|        20|          NULL|
+----------+--------------+
only showing top 20 rows

25/11/30 12:02:49 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 15, schema size: 2
CSV file: file:///home/bhuvaneshwaran/Desktop/Medium/csvFiles/Employees.csv

## ‚úî Method 3: Read JSON

In [9]:
df = spark.read.json(r"/home/bhuvaneshwaran/Desktop/Medium/csvFiles/US_STATE_recipes.json")

JSON is widely used in logs, APIs, and NoSQL exports.

In [10]:
df

DataFrame[0: struct<Contient:string,Country_State:string,URL:string,cook_time:bigint,cuisine:string,description:string,ingredients:array<string>,instructions:array<string>,nutrients:struct<calories:string,carbohydrateContent:string,cholesterolContent:string,fatContent:string,fiberContent:string,proteinContent:string,saturatedFatContent:string,sodiumContent:string,sugarContent:string,unsaturatedFatContent:string>,prep_time:bigint,rating:double,serves:string,title:string,total_time:bigint>, 1: struct<Contient:string,Country_State:string,URL:string,cook_time:bigint,cuisine:string,description:string,ingredients:array<string>,instructions:array<string>,nutrients:struct<calories:string,carbohydrateContent:string,cholesterolContent:string,fatContent:string,fiberContent:string,proteinContent:string,saturatedFatContent:string,sodiumContent:string,sugarContent:string,unsaturatedFatContent:string>,prep_time:bigint,rating:double,serves:string,title:string,total_time:bigint>, 2: struct<Contient:string,Country_State:string,URL:string,cook_time:bigint,cuisine:string,description:string,ingredients:array<string>,instructions:array<string>,nutrients:struct<calories:string,carbohydrateContent:string,cholesterolContent:string,fatContent:string,fiberContent:string,proteinContent:string,saturatedFatContent:string,sodiumContent:string,sugarContent:string,unsaturatedFatContent:string>,prep_time:bigint,rating:double,serves:string,title:string,total_time:bigint>, 3: struct<Contient:string,Country_State:string,URL:string,cook_time:string,cuisine:string,description:string,ingredients:array<string>,instructions:array<string>,nutrients:struct<calories:string,carbohydrateContent:string,cholesterolContent:string,fatContent:string,fiberContent:string,proteinContent:string,saturatedFatContent:string,sodiumContent:string,sugarContent:string,unsaturatedFatContent:string>,prep_time:bigint,rating:double,serves:string,title:string,total_time:bigint>]

## ‚úî Method 4: Read Parquet (FASTEST)

In [11]:
df = spark.read.parquet(r"/home/bhuvaneshwaran/Desktop/Medium/parquetFiles/titanic.parquet")

In [12]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

## üí° Why Parquet is preferred?

* Compressed

* Columnar format

* Very fast for queries

* Saves storage

Used in data lakes (S3, Delta Lake, ADLS)

## üìä Viewing Data

In [13]:
df.show()  #Shows 5 rows.

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [14]:
df.printSchema()   #Useful for checking nested fields, types, nulls.

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [15]:
df.columns  #Returns list of column names.

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

## ‚ú® Selecting Columns
.select()

In [16]:
df.select("Name", "Age").show()

+--------------------+----+
|                Name| Age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Cumings, Mrs. Joh...|38.0|
|Heikkinen, Miss. ...|26.0|
|Futrelle, Mrs. Ja...|35.0|
|Allen, Mr. Willia...|35.0|
|    Moran, Mr. James|NULL|
|McCarthy, Mr. Tim...|54.0|
|Palsson, Master. ...| 2.0|
|Johnson, Mrs. Osc...|27.0|
|Nasser, Mrs. Nich...|14.0|
|Sandstrom, Miss. ...| 4.0|
|Bonnell, Miss. El...|58.0|
|Saundercock, Mr. ...|20.0|
|Andersson, Mr. An...|39.0|
|Vestrom, Miss. Hu...|14.0|
|Hewlett, Mrs. (Ma...|55.0|
|Rice, Master. Eugene| 2.0|
|Williams, Mr. Cha...|NULL|
|Vander Planke, Mr...|31.0|
|Masselmani, Mrs. ...|NULL|
+--------------------+----+
only showing top 20 rows

## Select with operations:

In [17]:
from pyspark.sql.functions import col

df.select(col("Age") + 10).show()

+----------+
|(Age + 10)|
+----------+
|      32.0|
|      48.0|
|      36.0|
|      45.0|
|      45.0|
|      NULL|
|      64.0|
|      12.0|
|      37.0|
|      24.0|
|      14.0|
|      68.0|
|      30.0|
|      49.0|
|      24.0|
|      65.0|
|      12.0|
|      NULL|
|      41.0|
|      NULL|
+----------+
only showing top 20 rows

## ‚ú® Filtering Rows
Method 1: Using conditions

In [18]:
df.filter(df.Age > 25).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

Method 2: Using SQL-like strings

In [19]:
df.filter("Age > 25").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

Method 3: Multiple conditions

In [20]:
df.filter((df.Age > 25) & (df.Sex == "female")).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| NULL|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| NULL|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|        PC 17572|76.7292|  D33|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|   26.0| NULL|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|   80.0|  B28|    NULL|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|      C.A. 29395|   10.5|  F33|       S|
|         80|       1|     3|Dowdell, Miss. El...|female|30.0|    0|    0|          364516| 12.475| NULL|       S|
|         86|       1|     3|Backstrom, Mrs. K...|female|33.0|    3|    0|         3101278|  15.85| NULL|       S|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|          231919|   23.0| NULL|       S|
|        101|       0|     3|Petranec, Miss. M...|female|28.0|    0|    0|          349245| 7.8958| NULL|       S|
|        124|       1|     2| Webber, Miss. Susan|female|32.5|    0|    0|           27267|   13.0| E101|       S|
|        133|       0|     3|Robins, Mrs. Alex...|female|47.0|    1|    0|       A/5. 3337|   14.5| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

## üî• Adding New Columns ‚Äî withColumn

One of the most used functions in PySpark.

In [21]:
df = df.withColumn("AgePlus10", df.Age + 10)
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|AgePlus10|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     32.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     48.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     36.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     45.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     45.0|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|     NULL|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|     64.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|     12.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|     37.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|     24.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|     14.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|     68.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|     30.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|     49.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|     24.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|     65.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|     12.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|     NULL|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|     41.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|     NULL|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
only showing top 20 rows

In [22]:
df.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- AgePlus10: double (nullable = true)

### Examples:
Convert type:

In [23]:
df = df.withColumn("AgePlus10", df.AgePlus10.cast("string"))

In [24]:
df.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- AgePlus10: string (nullable = true)

Conditional column:

In [25]:
df.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Parch: long (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- AgePlus10: string (nullable = true)

In [26]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|AgePlus10|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     32.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     48.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     36.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     45.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     45.0|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|     NULL|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|     64.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|     12.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|     37.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|     24.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|     14.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|     68.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|     30.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|     49.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|     24.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|     65.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|     12.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|     NULL|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|     41.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|     NULL|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
only showing top 20 rows

In [27]:
from pyspark.sql.functions import when

df = df.withColumn(
    "Category",
    when(df.Age > 30, "Senior").otherwise("Junior")
)

In [28]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|AgePlus10|Category|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|     32.0|  Junior|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     48.0|  Senior|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|     36.0|  Junior|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     45.0|  Senior|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|     45.0|  Senior|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|     NULL|  Junior|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|     64.0|  Senior|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|     12.0|  Junior|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|     37.0|  Junior|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|     24.0|  Junior|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|     14.0|  Junior|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|     68.0|  Senior|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|     30.0|  Junior|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|     49.0|  Senior|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|     24.0|  Junior|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|     65.0|  Senior|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|     12.0|  Junior|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|     NULL|  Junior|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|     41.0|  Senior|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|     NULL|  Junior|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+--------+
only showing top 20 rows

## üóÇ Dropping Columns

In [29]:
df = df.drop("AgePlus10")

In [30]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Category|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|  Junior|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Senior|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|  Junior|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|  Senior|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|  Senior|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|  Junior|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|  Senior|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|  Junior|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|  Junior|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|  Junior|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Junior|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|  Senior|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|  Junior|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|  Senior|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|  Junior|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|  Senior|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|  Junior|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|  Junior|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|  Senior|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|  Junior|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

## üìå Renaming Columns

In [31]:
df = df.withColumnRenamed("Age", "Employee_Age")

In [32]:
df.show()

+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Category|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|        22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|  Junior|
|          2|       1|     1|Cumings, Mrs. Joh...|female|        38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Senior|
|          3|       1|     3|Heikkinen, Miss. ...|female|        26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|  Junior|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|        35.0|    1|    0|          113803|   53.1| C123|       S|  Senior|
|          5|       0|     3|Allen, Mr. Willia...|  male|        35.0|    0|    0|          373450|   8.05| NULL|       S|  Senior|
|          6|       0|     3|    Moran, Mr. James|  male|        NULL|    0|    0|          330877| 8.4583| NULL|       Q|  Junior|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|        54.0|    0|    0|           17463|51.8625|  E46|       S|  Senior|
|          8|       0|     3|Palsson, Master. ...|  male|         2.0|    3|    1|          349909| 21.075| NULL|       S|  Junior|
|          9|       1|     3|Johnson, Mrs. Osc...|female|        27.0|    0|    2|          347742|11.1333| NULL|       S|  Junior|
|         10|       1|     2|Nasser, Mrs. Nich...|female|        14.0|    1|    0|          237736|30.0708| NULL|       C|  Junior|
|         11|       1|     3|Sandstrom, Miss. ...|female|         4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Junior|
|         12|       1|     1|Bonnell, Miss. El...|female|        58.0|    0|    0|          113783|  26.55| C103|       S|  Senior|
|         13|       0|     3|Saundercock, Mr. ...|  male|        20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|  Junior|
|         14|       0|     3|Andersson, Mr. An...|  male|        39.0|    1|    5|          347082| 31.275| NULL|       S|  Senior|
|         15|       0|     3|Vestrom, Miss. Hu...|female|        14.0|    0|    0|          350406| 7.8542| NULL|       S|  Junior|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|        55.0|    0|    0|          248706|   16.0| NULL|       S|  Senior|
|         17|       0|     3|Rice, Master. Eugene|  male|         2.0|    4|    1|          382652| 29.125| NULL|       Q|  Junior|
|         18|       1|     2|Williams, Mr. Cha...|  male|        NULL|    0|    0|          244373|   13.0| NULL|       S|  Junior|
|         19|       0|     3|Vander Planke, Mr...|female|        31.0|    1|    0|          345763|   18.0| NULL|       S|  Senior|
|         20|       1|     3|Masselmani, Mrs. ...|female|        NULL|    0|    0|            2649|  7.225| NULL|       C|  Junior|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

## üìä Sorting

In [34]:
df.orderBy("Employee_Age", ascending=False).show()

+-----------+--------+------+--------------------+------+------------+-----+-----+-----------+-------+-----------+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|     Ticket|   Fare|      Cabin|Embarked|Category|
+-----------+--------+------+--------------------+------+------------+-----+-----+-----------+-------+-----------+--------+--------+
|        631|       1|     1|Barkworth, Mr. Al...|  male|        80.0|    0|    0|      27042|   30.0|        A23|       S|  Senior|
|        852|       0|     3| Svensson, Mr. Johan|  male|        74.0|    0|    0|     347060|  7.775|       NULL|       S|  Senior|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|        71.0|    0|    0|   PC 17754|34.6542|         A5|       C|  Senior|
|        494|       0|     1|Artagaveytia, Mr....|  male|        71.0|    0|    0|   PC 17609|49.5042|       NULL|       C|  Senior|
|        117|       0|     3|Connors, Mr. Patrick|  male|        70.5|    0|    0|     370369|   7.75|       NULL|       Q|  Senior|
|        673|       0|     2|Mitchell, Mr. Hen...|  male|        70.0|    0|    0| C.A. 24580|   10.5|       NULL|       S|  Senior|
|        746|       0|     1|Crosby, Capt. Edw...|  male|        70.0|    1|    1|  WE/P 5735|   71.0|        B22|       S|  Senior|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|        66.0|    0|    0| C.A. 24579|   10.5|       NULL|       S|  Senior|
|        457|       0|     1|Millet, Mr. Franc...|  male|        65.0|    0|    0|      13509|  26.55|        E38|       S|  Senior|
|        281|       0|     3|    Duane, Mr. Frank|  male|        65.0|    0|    0|     336439|   7.75|       NULL|       Q|  Senior|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|        65.0|    0|    1|     113509|61.9792|        B30|       C|  Senior|
|        546|       0|     1|Nicholson, Mr. Ar...|  male|        64.0|    0|    0|        693|   26.0|       NULL|       S|  Senior|
|        439|       0|     1|   Fortune, Mr. Mark|  male|        64.0|    1|    4|      19950|  263.0|C23 C25 C27|       S|  Senior|
|        484|       1|     3|Turkula, Mrs. (He...|female|        63.0|    0|    0|       4134| 9.5875|       NULL|       S|  Senior|
|        276|       1|     1|Andrews, Miss. Ko...|female|        63.0|    1|    0|      13502|77.9583|         D7|       S|  Senior|
|        556|       0|     1|  Wright, Mr. George|  male|        62.0|    0|    0|     113807|  26.55|       NULL|       S|  Senior|
|        253|       0|     1|Stead, Mr. Willia...|  male|        62.0|    0|    0|     113514|  26.55|        C87|       S|  Senior|
|        830|       1|     1|Stone, Mrs. Georg...|female|        62.0|    0|    0|     113572|   80.0|        B28|    NULL|  Senior|
|        571|       1|     2|  Harris, Mr. George|  male|        62.0|    0|    0|S.W./PP 752|   10.5|       NULL|       S|  Senior|
|        327|       0|     3|Nysveen, Mr. Joha...|  male|        61.0|    0|    0|     345364| 6.2375|       NULL|       S|  Senior|
+-----------+--------+------+--------------------+------+------------+-----+-----+-----------+-------+-----------+--------+--------+
only showing top 20 rows

In [37]:
df.count()

891

## üîÅ Handling Missing Values
Drop rows with nulls:

In [38]:
df.dropna().show()

+-----------+--------+------+--------------------+------+------------+-----+-----+-----------+--------+-----------+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|     Ticket|    Fare|      Cabin|Embarked|Category|
+-----------+--------+------+--------------------+------+------------+-----+-----+-----------+--------+-----------+--------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|        38.0|    1|    0|   PC 17599| 71.2833|        C85|       C|  Senior|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|        35.0|    1|    0|     113803|    53.1|       C123|       S|  Senior|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|        54.0|    0|    0|      17463| 51.8625|        E46|       S|  Senior|
|         11|       1|     3|Sandstrom, Miss. ...|female|         4.0|    1|    1|    PP 9549|    16.7|         G6|       S|  Junior|
|         12|       1|     1|Bonnell, Miss. El...|female|        58.0|    0|    0|     113783|   26.55|       C103|       S|  Senior|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|        34.0|    0|    0|     248698|    13.0|        D56|       S|  Senior|
|         24|       1|     1|Sloper, Mr. Willi...|  male|        28.0|    0|    0|     113788|    35.5|         A6|       S|  Junior|
|         28|       0|     1|Fortune, Mr. Char...|  male|        19.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|  Junior|
|         53|       1|     1|Harper, Mrs. Henr...|female|        49.0|    1|    0|   PC 17572| 76.7292|        D33|       C|  Senior|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|        65.0|    0|    1|     113509| 61.9792|        B30|       C|  Senior|
|         63|       0|     1|Harris, Mr. Henry...|  male|        45.0|    1|    0|      36973|  83.475|        C83|       S|  Senior|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|        29.0|    0|    0| C.A. 29395|    10.5|        F33|       S|  Junior|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|        25.0|    0|    0|     348123|    7.65|      F G73|       S|  Junior|
|         89|       1|     1|Fortune, Miss. Ma...|female|        23.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|  Junior|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|        46.0|    1|    0|W.E.P. 5734|  61.175|        E31|       S|  Senior|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|        71.0|    0|    0|   PC 17754| 34.6542|         A5|       C|  Senior|
|         98|       1|     1|Greenfield, Mr. W...|  male|        23.0|    0|    1|   PC 17759| 63.3583|    D10 D12|       C|  Junior|
|        103|       0|     1|White, Mr. Richar...|  male|        21.0|    0|    1|      35281| 77.2875|        D26|       S|  Junior|
|        111|       0|     1|Porter, Mr. Walte...|  male|        47.0|    0|    0|     110465|    52.0|       C110|       S|  Senior|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|        24.0|    0|    1|   PC 17558|247.5208|    B58 B60|       C|  Junior|
+-----------+--------+------+--------------------+------+------------+-----+-----+-----------+--------+-----------+--------+--------+
only showing top 20 rows

In [39]:
df.count()

891

Fill nulls

In [40]:
df.fillna({"Employee_Age": 0, "Name": "Unknown"}).show()

+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Category|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|        22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|  Junior|
|          2|       1|     1|Cumings, Mrs. Joh...|female|        38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Senior|
|          3|       1|     3|Heikkinen, Miss. ...|female|        26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|  Junior|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|        35.0|    1|    0|          113803|   53.1| C123|       S|  Senior|
|          5|       0|     3|Allen, Mr. Willia...|  male|        35.0|    0|    0|          373450|   8.05| NULL|       S|  Senior|
|          6|       0|     3|    Moran, Mr. James|  male|         0.0|    0|    0|          330877| 8.4583| NULL|       Q|  Junior|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|        54.0|    0|    0|           17463|51.8625|  E46|       S|  Senior|
|          8|       0|     3|Palsson, Master. ...|  male|         2.0|    3|    1|          349909| 21.075| NULL|       S|  Junior|
|          9|       1|     3|Johnson, Mrs. Osc...|female|        27.0|    0|    2|          347742|11.1333| NULL|       S|  Junior|
|         10|       1|     2|Nasser, Mrs. Nich...|female|        14.0|    1|    0|          237736|30.0708| NULL|       C|  Junior|
|         11|       1|     3|Sandstrom, Miss. ...|female|         4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Junior|
|         12|       1|     1|Bonnell, Miss. El...|female|        58.0|    0|    0|          113783|  26.55| C103|       S|  Senior|
|         13|       0|     3|Saundercock, Mr. ...|  male|        20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|  Junior|
|         14|       0|     3|Andersson, Mr. An...|  male|        39.0|    1|    5|          347082| 31.275| NULL|       S|  Senior|
|         15|       0|     3|Vestrom, Miss. Hu...|female|        14.0|    0|    0|          350406| 7.8542| NULL|       S|  Junior|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|        55.0|    0|    0|          248706|   16.0| NULL|       S|  Senior|
|         17|       0|     3|Rice, Master. Eugene|  male|         2.0|    4|    1|          382652| 29.125| NULL|       Q|  Junior|
|         18|       1|     2|Williams, Mr. Cha...|  male|         0.0|    0|    0|          244373|   13.0| NULL|       S|  Junior|
|         19|       0|     3|Vander Planke, Mr...|female|        31.0|    1|    0|          345763|   18.0| NULL|       S|  Senior|
|         20|       1|     3|Masselmani, Mrs. ...|female|         0.0|    0|    0|            2649|  7.225| NULL|       C|  Junior|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

## üöÄ Aggregations
.groupBy().count()

In [41]:
df.groupBy("Category").count().show()

+--------+-----+
|Category|count|
+--------+-----+
|  Senior|  305|
|  Junior|  586|
+--------+-----+

In [42]:
df.groupBy("Sex").count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  314|
|  male|  577|
+------+-----+

.agg()

In [44]:
from pyspark.sql.functions import sum, avg

df.groupBy("Sex").agg(
    avg("Fare").alias("AvgFare"),
    sum("Fare").alias("TotalFare")
).show()

+------+------------------+-----------------+
|   Sex|           AvgFare|        TotalFare|
+------+------------------+-----------------+
|female| 44.47981783439487|13966.66279999999|
|  male|25.523893414211418|14727.28649999999|
+------+------------------+-----------------+

In [45]:
data = [("1", "chennai"), ("2", "Madurai"), ("3", "Sivaganga"), ("4", "Pudukkottai"), ("5", "Trichy"), ("6", "Ramanathapuram"), ("7", "Tenkasi")]
cols = ["PassengerId", "City"]

df2 = spark.createDataFrame(data, cols)
df2.show()

+-----------+--------------+
|PassengerId|          City|
+-----------+--------------+
|          1|       chennai|
|          2|       Madurai|
|          3|     Sivaganga|
|          4|   Pudukkottai|
|          5|        Trichy|
|          6|Ramanathapuram|
|          7|       Tenkasi|
+-----------+--------------+

## üî• Joins in PySpark

In [47]:
df.join(df2, on="PassengerId", how="inner").show(10)

+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Category|          City|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|        22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|  Junior|       chennai|
|          2|       1|     1|Cumings, Mrs. Joh...|female|        38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Senior|       Madurai|
|          3|       1|     3|Heikkinen, Miss. ...|female|        26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|  Junior|     Sivaganga|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|        35.0|    1|    0|          113803|   53.1| C123|       S|  Senior|   Pudukkottai|
|          5|       0|     3|Allen, Mr. Willia...|  male|        35.0|    0|    0|          373450|   8.05| NULL|       S|  Senior|        Trichy|
|          6|       0|     3|    Moran, Mr. James|  male|        NULL|    0|    0|          330877| 8.4583| NULL|       Q|  Junior|Ramanathapuram|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|        54.0|    0|    0|           17463|51.8625|  E46|       S|  Senior|       Tenkasi|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+

### Join types:

* inner

* left

* right

* full

* semi

* anti

In [48]:
df.join(df2, on="PassengerId", how="left").show(10)

+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Category|          City|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
|          7|       0|     1|McCarthy, Mr. Tim...|  male|        54.0|    0|    0|           17463|51.8625|  E46|       S|  Senior|       Tenkasi|
|          6|       0|     3|    Moran, Mr. James|  male|        NULL|    0|    0|          330877| 8.4583| NULL|       Q|  Junior|Ramanathapuram|
|          9|       1|     3|Johnson, Mrs. Osc...|female|        27.0|    0|    2|          347742|11.1333| NULL|       S|  Junior|          NULL|
|          5|       0|     3|Allen, Mr. Willia...|  male|        35.0|    0|    0|          373450|   8.05| NULL|       S|  Senior|        Trichy|
|          1|       0|     3|Braund, Mr. Owen ...|  male|        22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|  Junior|       chennai|
|         10|       1|     2|Nasser, Mrs. Nich...|female|        14.0|    1|    0|          237736|30.0708| NULL|       C|  Junior|          NULL|
|          3|       1|     3|Heikkinen, Miss. ...|female|        26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|  Junior|     Sivaganga|
|          8|       0|     3|Palsson, Master. ...|  male|         2.0|    3|    1|          349909| 21.075| NULL|       S|  Junior|          NULL|
|         11|       1|     3|Sandstrom, Miss. ...|female|         4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Junior|          NULL|
|          2|       1|     1|Cumings, Mrs. Joh...|female|        38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Senior|       Madurai|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
only showing top 10 rows

In [49]:
df.join(df2, on="PassengerId", how="right").show(10)

+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Category|          City|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|        22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|  Junior|       chennai|
|          2|       1|     1|Cumings, Mrs. Joh...|female|        38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Senior|       Madurai|
|          3|       1|     3|Heikkinen, Miss. ...|female|        26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|  Junior|     Sivaganga|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|        35.0|    1|    0|          113803|   53.1| C123|       S|  Senior|   Pudukkottai|
|          5|       0|     3|Allen, Mr. Willia...|  male|        35.0|    0|    0|          373450|   8.05| NULL|       S|  Senior|        Trichy|
|          6|       0|     3|    Moran, Mr. James|  male|        NULL|    0|    0|          330877| 8.4583| NULL|       Q|  Junior|Ramanathapuram|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|        54.0|    0|    0|           17463|51.8625|  E46|       S|  Senior|       Tenkasi|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+

In [50]:
df.join(df2, on="PassengerId", how="full").show(10)

+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Category|          City|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|        22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|  Junior|       chennai|
|          2|       1|     1|Cumings, Mrs. Joh...|female|        38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Senior|       Madurai|
|          3|       1|     3|Heikkinen, Miss. ...|female|        26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|  Junior|     Sivaganga|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|        35.0|    1|    0|          113803|   53.1| C123|       S|  Senior|   Pudukkottai|
|          5|       0|     3|Allen, Mr. Willia...|  male|        35.0|    0|    0|          373450|   8.05| NULL|       S|  Senior|        Trichy|
|          6|       0|     3|    Moran, Mr. James|  male|        NULL|    0|    0|          330877| 8.4583| NULL|       Q|  Junior|Ramanathapuram|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|        54.0|    0|    0|           17463|51.8625|  E46|       S|  Senior|       Tenkasi|
|          8|       0|     3|Palsson, Master. ...|  male|         2.0|    3|    1|          349909| 21.075| NULL|       S|  Junior|          NULL|
|          9|       1|     3|Johnson, Mrs. Osc...|female|        27.0|    0|    2|          347742|11.1333| NULL|       S|  Junior|          NULL|
|         10|       1|     2|Nasser, Mrs. Nich...|female|        14.0|    1|    0|          237736|30.0708| NULL|       C|  Junior|          NULL|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+--------------+
only showing top 10 rows

In [51]:
df.join(df2, on="PassengerId", how="semi").show(10)

+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Category|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|        22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|  Junior|
|          2|       1|     1|Cumings, Mrs. Joh...|female|        38.0|    1|    0|        PC 17599|71.2833|  C85|       C|  Senior|
|          3|       1|     3|Heikkinen, Miss. ...|female|        26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|  Junior|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|        35.0|    1|    0|          113803|   53.1| C123|       S|  Senior|
|          5|       0|     3|Allen, Mr. Willia...|  male|        35.0|    0|    0|          373450|   8.05| NULL|       S|  Senior|
|          6|       0|     3|    Moran, Mr. James|  male|        NULL|    0|    0|          330877| 8.4583| NULL|       Q|  Junior|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|        54.0|    0|    0|           17463|51.8625|  E46|       S|  Senior|
+-----------+--------+------+--------------------+------+------------+-----+-----+----------------+-------+-----+--------+--------+

In [52]:
df.join(df2, on="PassengerId", how="anti").show(10)

+-----------+--------+------+--------------------+------+------------+-----+-----+---------------+--------+-----+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Employee_Age|SibSp|Parch|         Ticket|    Fare|Cabin|Embarked|Category|
+-----------+--------+------+--------------------+------+------------+-----+-----+---------------+--------+-----+--------+--------+
|         26|       1|     3|Asplund, Mrs. Car...|female|        38.0|    1|    5|         347077| 31.3875| NULL|       S|  Senior|
|         29|       1|     3|O'Dwyer, Miss. El...|female|        NULL|    0|    0|         330959|  7.8792| NULL|       Q|  Junior|
|        474|       1|     2|Jerwan, Mrs. Amin...|female|        23.0|    0|    0|SC/AH Basle 541| 13.7917|    D|       C|  Junior|
|         65|       0|     1|Stewart, Mr. Albe...|  male|        NULL|    0|    0|       PC 17605| 27.7208| NULL|       C|  Junior|
|        191|       1|     2| Pinsky, Mrs. (Rosa)|female|        32.0|    0|    0|         234604|    13.0| NULL|       S|  Senior|
|        418|       1|     2|Silven, Miss. Lyy...|female|        18.0|    0|    2|         250652|    13.0| NULL|       S|  Junior|
|        541|       1|     1|Crosby, Miss. Har...|female|        36.0|    0|    2|      WE/P 5735|    71.0|  B22|       S|  Senior|
|        558|       0|     1| Robbins, Mr. Victor|  male|        NULL|    0|    0|       PC 17757| 227.525| NULL|       C|  Junior|
|        222|       0|     2|Bracken, Mr. James H|  male|        27.0|    0|    0|         220367|    13.0| NULL|       S|  Junior|
|        270|       1|     1|Bissette, Miss. A...|female|        35.0|    0|    0|       PC 17760|135.6333|  C99|       S|  Senior|
+-----------+--------+------+--------------------+------+------------+-----+-----+---------------+--------+-----+--------+--------+
only showing top 10 rows

## üöÄ Window Functions (Advanced but useful)

In [54]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

window = Window.orderBy("Fare")

df.withColumn("RowNum", row_number().over(window)).show()

+-----------+--------+------+--------------------+----+------------+-----+-----+------+------+-----------+--------+--------+------+
|PassengerId|Survived|Pclass|                Name| Sex|Employee_Age|SibSp|Parch|Ticket|  Fare|      Cabin|Embarked|Category|RowNum|
+-----------+--------+------+--------------------+----+------------+-----+-----+------+------+-----------+--------+--------+------+
|        303|       0|     3|Johnson, Mr. Will...|male|        19.0|    0|    0|  LINE|   0.0|       NULL|       S|  Junior|     1|
|        278|       0|     2|Parkes, Mr. Franc...|male|        NULL|    0|    0|239853|   0.0|       NULL|       S|  Junior|     2|
|        272|       1|     3|Tornquist, Mr. Wi...|male|        25.0|    0|    0|  LINE|   0.0|       NULL|       S|  Junior|     3|
|        264|       0|     1|Harrison, Mr. Wil...|male|        40.0|    0|    0|112059|   0.0|        B94|       S|  Senior|     4|
|        482|       0|     2|Frost, Mr. Anthon...|male|        NULL|    0|    0|239854|   0.0|       NULL|       S|  Junior|     5|
|        180|       0|     3| Leonard, Mr. Lionel|male|        36.0|    0|    0|  LINE|   0.0|       NULL|       S|  Senior|     6|
|        414|       0|     2|Cunningham, Mr. A...|male|        NULL|    0|    0|239853|   0.0|       NULL|       S|  Junior|     7|
|        467|       0|     2|Campbell, Mr. Wil...|male|        NULL|    0|    0|239853|   0.0|       NULL|       S|  Junior|     8|
|        598|       0|     3| Johnson, Mr. Alfred|male|        49.0|    0|    0|  LINE|   0.0|       NULL|       S|  Senior|     9|
|        634|       0|     1|Parr, Mr. William...|male|        NULL|    0|    0|112052|   0.0|       NULL|       S|  Junior|    10|
|        675|       0|     2|Watson, Mr. Ennis...|male|        NULL|    0|    0|239856|   0.0|       NULL|       S|  Junior|    11|
|        733|       0|     2|Knight, Mr. Robert J|male|        NULL|    0|    0|239855|   0.0|       NULL|       S|  Junior|    12|
|        807|       0|     1|Andrews, Mr. Thom...|male|        39.0|    0|    0|112050|   0.0|        A36|       S|  Senior|    13|
|        816|       0|     1|    Fry, Mr. Richard|male|        NULL|    0|    0|112058|   0.0|       B102|       S|  Junior|    14|
|        823|       0|     1|Reuchlin, Jonkhee...|male|        38.0|    0|    0| 19972|   0.0|       NULL|       S|  Senior|    15|
|        379|       0|     3| Betros, Mr. Tannous|male|        20.0|    0|    0|  2648|4.0125|       NULL|       C|  Junior|    16|
|        873|       0|     1|Carlsson, Mr. Fra...|male|        33.0|    0|    0|   695|   5.0|B51 B53 B55|       S|  Senior|    17|
|        327|       0|     3|Nysveen, Mr. Joha...|male|        61.0|    0|    0|345364|6.2375|       NULL|       S|  Senior|    18|
|        844|       0|     3|Lemberopolous, Mr...|male|        34.5|    0|    0|  2683|6.4375|       NULL|       C|  Senior|    19|
|        819|       0|     3|Holm, Mr. John Fr...|male|        43.0|    0|    0|C 7075|  6.45|       NULL|       S|  Senior|    20|
+-----------+--------+------+--------------------+----+------------+-----+-----+------+------+-----------+--------+--------+------+
only showing top 20 rows

25/11/30 12:58:49 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/11/30 12:58:49 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/11/30 12:58:49 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

### Window functions are used for:

* ranking

* cumulative totals

* moving averages

* partitioning