In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Advance_DF").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/25 13:21:08 WARN Utils: Your hostname, bhuvaneshwaran-Latitude-5420, resolves to a loopback address: 127.0.1.1; using 192.168.1.17 instead (on interface wlp0s20f3)
25/12/25 13:21:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/25 13:21:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
df=spark.read.parquet(r"/home/bhuvaneshwaran/Desktop/Medium/parquetFiles/Employees.parquet")

In [5]:
df.show(5)

+---+----------------+-------------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+------------------+--------------------+----------+-------------+
| id|            name|          full_name|             address|         json_string|dob_string_format|score| department|salary|        hobbies_list|user_id|            txn_date|         txn_value|              street|      city|        state|
+---+----------------+-------------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+------------------+--------------------+----------+-------------+
|  1|    Advik Halder|         Janya Bala|H.No. 916, Choksh...|{"city": "Bengalu...|       1974-10-29|   74|      Sales| 95186|       [Photography]|      2|2025-11-29 13:20:...|132.71083639903748|   20/662\nDua Nagar|Coimbatore|    Rajasthan|
|  2|     Omaja Baria|       Manya Bhakta|492, Dass Road, B...|{"city": "Coimbat...|       1978-04-26|   33|    Finance| 54210|[Gaming, Cooking,...|      3|2025-11-28 13:20:...|   829.31653998402|H.No. 913, Chande...| Bengaluru|Uttar Pradesh|
|  3|    Unni Iyengar|    Timothy Chaudry|H.No. 511\nJain G...|{"city": "Mumbai"...|       1999-07-25|   47|         HR|113058|            [Coding]|      4|2025-12-06 13:20:...| 913.7253175783072|922, Krishnan Circle|Coimbatore|Uttar Pradesh|
|  4|Manthan Kulkarni|Thomas Ramakrishnan|47\nMammen, Coimb...|{"city": "Salem",...|       1981-08-02|   70|Engineering|149570|[Gaming, Music, R...|      5|2025-11-29 13:20:...| 566.9216358462841|     48/18\nBir Zila|    Mumbai|     Nagaland|
|  5|      Ayaan Rege|  Hiral Rajagopalan|95/81\nApte Marg,...|{"city": "Coimbat...|       1962-07-13|   80|Engineering| 78937|             [Music]|      6|2025-12-04 13:20:...| 271.9908394269114|      21\nLanka Ganj|Coimbatore|      Mizoram|
+---+----------------+-------------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+------------------+--------------------+----------+-------------+
only showing top 5 rows

In [6]:
df.printSchema()   #Useful for checking nested fields, types, nulls.

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- full_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- json_string: string (nullable = true)
 |-- dob_string_format: string (nullable = true)
 |-- score: long (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- hobbies_list: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- user_id: long (nullable = true)
 |-- txn_date: timestamp_ntz (nullable = true)
 |-- txn_value: double (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

In [7]:
df.columns

['id',
 'name',
 'full_name',
 'address',
 'json_string',
 'dob_string_format',
 'score',
 'department',
 'salary',
 'hobbies_list',
 'user_id',
 'txn_date',
 'txn_value',
 'street',
 'city',
 'state']

## ðŸ”¥ 1. Advanced String Operations

PySpark has a full set of string functions that are extremely useful for data cleaning.

## âœ” Extract using regex

Useful for logs, IDs, URLs, phone numbers.

In [8]:
df.select("id","name","address").show()

+---+--------------------+--------------------+
| id|                name|             address|
+---+--------------------+--------------------+
|  1|        Advik Halder|H.No. 916, Choksh...|
|  2|         Omaja Baria|492, Dass Road, B...|
|  3|        Unni Iyengar|H.No. 511\nJain G...|
|  4|    Manthan Kulkarni|47\nMammen, Coimb...|
|  5|          Ayaan Rege|95/81\nApte Marg,...|
|  6|      Aarush Sanghvi|05\nBawa Street, ...|
|  7|      Tristan Sahota|H.No. 349\nNori M...|
|  8|Ikshita Radhakris...|H.No. 54\nPai Cho...|
|  9|      Upadhriti Tata|60/534, Swamy Pat...|
| 10|         Arya Sharma|03\nDubey Ganj, M...|
| 11|          Omya Verma|H.No. 85\nTiwari ...|
| 12|         Tejas Kanda|90/51\nPillai, Be...|
| 13|        Jairaj Walla|954\nZacharia Mar...|
| 14|        Jeet Chaudry|H.No. 203\nPatla ...|
| 15|       Arunima Uppal|55/43, Pandey Gan...|
| 16|    Upadhriti Sachar|886, Chandra, Sal...|
| 17|     Bhanumati Sethi|172\nSolanki Naga...|
| 18|         Darsh Chada|492\nMukhopadhyay...|
| 19|          Rishi Bail|659\nSodhi Zila, ...|
| 20|       Madhavi Ghose|28/73\nBoase Chow...|
+---+--------------------+--------------------+
only showing top 20 rows

In [9]:
from pyspark.sql.functions import regexp_extract

df = df.withColumn("pin", regexp_extract("address", r"(\d{6})", 1))
df.select("id","name","address","pin").show()

+---+--------------------+--------------------+------+
| id|                name|             address|   pin|
+---+--------------------+--------------------+------+
|  1|        Advik Halder|H.No. 916, Choksh...|383408|
|  2|         Omaja Baria|492, Dass Road, B...|103082|
|  3|        Unni Iyengar|H.No. 511\nJain G...|040655|
|  4|    Manthan Kulkarni|47\nMammen, Coimb...|152655|
|  5|          Ayaan Rege|95/81\nApte Marg,...|752051|
|  6|      Aarush Sanghvi|05\nBawa Street, ...|005744|
|  7|      Tristan Sahota|H.No. 349\nNori M...|678621|
|  8|Ikshita Radhakris...|H.No. 54\nPai Cho...|808613|
|  9|      Upadhriti Tata|60/534, Swamy Pat...|621238|
| 10|         Arya Sharma|03\nDubey Ganj, M...|888836|
| 11|          Omya Verma|H.No. 85\nTiwari ...|401088|
| 12|         Tejas Kanda|90/51\nPillai, Be...|184056|
| 13|        Jairaj Walla|954\nZacharia Mar...|219836|
| 14|        Jeet Chaudry|H.No. 203\nPatla ...|228091|
| 15|       Arunima Uppal|55/43, Pandey Gan...|498618|
| 16|    Upadhriti Sachar|886, Chandra, Sal...|627474|
| 17|     Bhanumati Sethi|172\nSolanki Naga...|357193|
| 18|         Darsh Chada|492\nMukhopadhyay...|506061|
| 19|          Rishi Bail|659\nSodhi Zila, ...|319286|
| 20|       Madhavi Ghose|28/73\nBoase Chow...|663289|
+---+--------------------+--------------------+------+
only showing top 20 rows

## âœ” Replace patterns

In [10]:
from pyspark.sql.functions import regexp_replace

df = df.withColumn("clean_spaces", regexp_replace("name", "[^A-Za-z]", ""))
df.select("id","name","clean_spaces","address","pin").show()

+---+--------------------+--------------------+--------------------+------+
| id|                name|        clean_spaces|             address|   pin|
+---+--------------------+--------------------+--------------------+------+
|  1|        Advik Halder|         AdvikHalder|H.No. 916, Choksh...|383408|
|  2|         Omaja Baria|          OmajaBaria|492, Dass Road, B...|103082|
|  3|        Unni Iyengar|         UnniIyengar|H.No. 511\nJain G...|040655|
|  4|    Manthan Kulkarni|     ManthanKulkarni|47\nMammen, Coimb...|152655|
|  5|          Ayaan Rege|           AyaanRege|95/81\nApte Marg,...|752051|
|  6|      Aarush Sanghvi|       AarushSanghvi|05\nBawa Street, ...|005744|
|  7|      Tristan Sahota|       TristanSahota|H.No. 349\nNori M...|678621|
|  8|Ikshita Radhakris...|IkshitaRadhakrishnan|H.No. 54\nPai Cho...|808613|
|  9|      Upadhriti Tata|       UpadhritiTata|60/534, Swamy Pat...|621238|
| 10|         Arya Sharma|          AryaSharma|03\nDubey Ganj, M...|888836|
| 11|          Omya Verma|           OmyaVerma|H.No. 85\nTiwari ...|401088|
| 12|         Tejas Kanda|          TejasKanda|90/51\nPillai, Be...|184056|
| 13|        Jairaj Walla|         JairajWalla|954\nZacharia Mar...|219836|
| 14|        Jeet Chaudry|         JeetChaudry|H.No. 203\nPatla ...|228091|
| 15|       Arunima Uppal|        ArunimaUppal|55/43, Pandey Gan...|498618|
| 16|    Upadhriti Sachar|     UpadhritiSachar|886, Chandra, Sal...|627474|
| 17|     Bhanumati Sethi|      BhanumatiSethi|172\nSolanki Naga...|357193|
| 18|         Darsh Chada|          DarshChada|492\nMukhopadhyay...|506061|
| 19|          Rishi Bail|           RishiBail|659\nSodhi Zila, ...|319286|
| 20|       Madhavi Ghose|        MadhaviGhose|28/73\nBoase Chow...|663289|
+---+--------------------+--------------------+--------------------+------+
only showing top 20 rows

## âœ” Splitting strings

In [11]:
from pyspark.sql.functions import split

df = df.withColumn("first_name", split("name", " ").getItem(0))
df = df.withColumn("last_name", split("name", " ").getItem(1))

In [12]:
df.select("id","name","first_name","last_name").show()

+---+--------------------+----------+-------------+
| id|                name|first_name|    last_name|
+---+--------------------+----------+-------------+
|  1|        Advik Halder|     Advik|       Halder|
|  2|         Omaja Baria|     Omaja|        Baria|
|  3|        Unni Iyengar|      Unni|      Iyengar|
|  4|    Manthan Kulkarni|   Manthan|     Kulkarni|
|  5|          Ayaan Rege|     Ayaan|         Rege|
|  6|      Aarush Sanghvi|    Aarush|      Sanghvi|
|  7|      Tristan Sahota|   Tristan|       Sahota|
|  8|Ikshita Radhakris...|   Ikshita|Radhakrishnan|
|  9|      Upadhriti Tata| Upadhriti|         Tata|
| 10|         Arya Sharma|      Arya|       Sharma|
| 11|          Omya Verma|      Omya|        Verma|
| 12|         Tejas Kanda|     Tejas|        Kanda|
| 13|        Jairaj Walla|    Jairaj|        Walla|
| 14|        Jeet Chaudry|      Jeet|      Chaudry|
| 15|       Arunima Uppal|   Arunima|        Uppal|
| 16|    Upadhriti Sachar| Upadhriti|       Sachar|
| 17|     Bhanumati Sethi| Bhanumati|        Sethi|
| 18|         Darsh Chada|     Darsh|        Chada|
| 19|          Rishi Bail|     Rishi|         Bail|
| 20|       Madhavi Ghose|   Madhavi|        Ghose|
+---+--------------------+----------+-------------+
only showing top 20 rows

In [13]:
df.columns

['id',
 'name',
 'full_name',
 'address',
 'json_string',
 'dob_string_format',
 'score',
 'department',
 'salary',
 'hobbies_list',
 'user_id',
 'txn_date',
 'txn_value',
 'street',
 'city',
 'state',
 'pin',
 'clean_spaces',
 'first_name',
 'last_name']

In [14]:
df.select("address").show()

+--------------------+
|             address|
+--------------------+
|H.No. 916, Choksh...|
|492, Dass Road, B...|
|H.No. 511\nJain G...|
|47\nMammen, Coimb...|
|95/81\nApte Marg,...|
|05\nBawa Street, ...|
|H.No. 349\nNori M...|
|H.No. 54\nPai Cho...|
|60/534, Swamy Pat...|
|03\nDubey Ganj, M...|
|H.No. 85\nTiwari ...|
|90/51\nPillai, Be...|
|954\nZacharia Mar...|
|H.No. 203\nPatla ...|
|55/43, Pandey Gan...|
|886, Chandra, Sal...|
|172\nSolanki Naga...|
|492\nMukhopadhyay...|
|659\nSodhi Zila, ...|
|28/73\nBoase Chow...|
+--------------------+
only showing top 20 rows

## âœ” Combining multiple fields

In [15]:
from pyspark.sql.functions import concat_ws

df = df.withColumn("full_address", concat_ws(", ", "street", "city", "state"))

In [16]:
df.select("address",'full_address',"street", "city", "state").show()

+--------------------+--------------------+--------------------+----------+-----------------+
|             address|        full_address|              street|      city|            state|
+--------------------+--------------------+--------------------+----------+-----------------+
|H.No. 916, Choksh...|20/662\nDua Nagar...|   20/662\nDua Nagar|Coimbatore|        Rajasthan|
|492, Dass Road, B...|H.No. 913, Chande...|H.No. 913, Chande...| Bengaluru|    Uttar Pradesh|
|H.No. 511\nJain G...|922, Krishnan Cir...|922, Krishnan Circle|Coimbatore|    Uttar Pradesh|
|47\nMammen, Coimb...|48/18\nBir Zila, ...|     48/18\nBir Zila|    Mumbai|         Nagaland|
|95/81\nApte Marg,...|21\nLanka Ganj, C...|      21\nLanka Ganj|Coimbatore|          Mizoram|
|05\nBawa Street, ...|H.No. 79\nSachar ...|H.No. 79\nSachar ...|    Mumbai| Himachal Pradesh|
|H.No. 349\nNori M...|58\nMall Circle, ...|     58\nMall Circle|     Salem|            Assam|
|H.No. 54\nPai Cho...|H.No. 76\nBawa, M...|      H.No. 76\nBawa|    Mumbai|      Uttarakhand|
|60/534, Swamy Pat...|H.No. 939\nVig Ga...| H.No. 939\nVig Ganj|     Salem|Arunachal Pradesh|
|03\nDubey Ganj, M...|42/20, Pandey Gan...|  42/20, Pandey Ganj|    Mumbai|        Jharkhand|
|H.No. 85\nTiwari ...|120\nLuthra, Mumb...|         120\nLuthra|    Mumbai|          Manipur|
|90/51\nPillai, Be...|72, Tiwari Path, ...|     72, Tiwari Path|   Chennai|          Haryana|
|954\nZacharia Mar...|734, Salvi Road, ...|     734, Salvi Road|     Salem|          Gujarat|
|H.No. 203\nPatla ...|96, Basu, Coimbat...|            96, Basu|Coimbatore|   Andhra Pradesh|
|55/43, Pandey Gan...|H.No. 66\nShenoy,...|    H.No. 66\nShenoy| Bengaluru|           Kerala|
|886, Chandra, Sal...|86, Muni Chowk, S...|      86, Muni Chowk|     Salem|    Uttar Pradesh|
|172\nSolanki Naga...|79/01\nChopra Mar...|  79/01\nChopra Marg| Bengaluru|          Tripura|
|492\nMukhopadhyay...|90, Pau Chowk, Co...|       90, Pau Chowk|Coimbatore|        Karnataka|
|659\nSodhi Zila, ...|H.No. 28, Mandal ...|H.No. 28, Mandal ...|Coimbatore|          Tripura|
|28/73\nBoase Chow...|H.No. 92, Bir Cho...| H.No. 92, Bir Chowk|Coimbatore|      West Bengal|
+--------------------+--------------------+--------------------+----------+-----------------+
only showing top 20 rows

In [17]:
df.select("hobbies_list").show()

+--------------------+
|        hobbies_list|
+--------------------+
|       [Photography]|
|[Gaming, Cooking,...|
|            [Coding]|
|[Gaming, Music, R...|
|             [Music]|
|[Sports, Farming,...|
|[Photography, Spo...|
|[Photography, Music]|
|[Gaming, Cooking,...|
|[Trekking, Cookin...|
|[Sports, Cooking,...|
|            [Gaming]|
|[Music, Farming, ...|
|          [Trekking]|
|[Farming, Gaming,...|
|[Farming, Photogr...|
|           [Farming]|
|[Cooking, Coding,...|
|    [Coding, Gaming]|
|[Photography, Rea...|
+--------------------+
only showing top 20 rows

## ðŸ”¥ 2. Working with Arrays

Array columns are common in logs, events, clickstreams, etc.

Array Operations
explode(col): This is a powerful transformation.

It takes a list (like [Gaming, Coding]) and turns it into two separate rowsâ€”one for Gaming and one for Coding. This makes it easier to count or filter specific hobbies.

array_contains(col, value): A filter tool.

It checks if a specific value (like "spark") exists inside the array column.

## âœ” Explode array into multiple rows

In [18]:
from pyspark.sql.functions import explode

df.select("user", explode("hobbies_list")).show()

+--------------+-----------+
|current_user()|        col|
+--------------+-----------+
|bhuvaneshwaran|Photography|
|bhuvaneshwaran|     Gaming|
|bhuvaneshwaran|    Cooking|
|bhuvaneshwaran|Photography|
|bhuvaneshwaran|    Reading|
|bhuvaneshwaran|     Coding|
|bhuvaneshwaran|     Gaming|
|bhuvaneshwaran|      Music|
|bhuvaneshwaran|    Reading|
|bhuvaneshwaran|      Music|
|bhuvaneshwaran|     Sports|
|bhuvaneshwaran|    Farming|
|bhuvaneshwaran|     Gaming|
|bhuvaneshwaran|Photography|
|bhuvaneshwaran|     Sports|
|bhuvaneshwaran|    Farming|
|bhuvaneshwaran|Photography|
|bhuvaneshwaran|      Music|
|bhuvaneshwaran|     Gaming|
|bhuvaneshwaran|    Cooking|
+--------------+-----------+
only showing top 20 rows

## âœ” Count array items

In [20]:
from pyspark.sql.functions import size

df.select("name", size("hobbies_list")).show()

+--------------------+------------------+
|                name|size(hobbies_list)|
+--------------------+------------------+
|        Advik Halder|                 1|
|         Omaja Baria|                 4|
|        Unni Iyengar|                 1|
|    Manthan Kulkarni|                 3|
|          Ayaan Rege|                 1|
|      Aarush Sanghvi|                 3|
|      Tristan Sahota|                 3|
|Ikshita Radhakris...|                 2|
|      Upadhriti Tata|                 4|
|         Arya Sharma|                 4|
|          Omya Verma|                 3|
|         Tejas Kanda|                 1|
|        Jairaj Walla|                 3|
|        Jeet Chaudry|                 1|
|       Arunima Uppal|                 3|
|    Upadhriti Sachar|                 2|
|     Bhanumati Sethi|                 1|
|         Darsh Chada|                 4|
|          Rishi Bail|                 2|
|       Madhavi Ghose|                 2|
+--------------------+------------------+
only showing top 20 rows

In [28]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- full_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- json_string: string (nullable = true)
 |-- dob_string_format: string (nullable = true)
 |-- score: long (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- hobbies_list: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- user_id: long (nullable = true)
 |-- txn_date: timestamp_ntz (nullable = true)
 |-- txn_value: double (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- pin: string (nullable = true)
 |-- clean_spaces: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- full_address: string (nullable = false)

## âœ” Check if an item exists

In [29]:
from pyspark.sql.functions import array_contains

df.filter(array_contains("hobbies_list", "spark")).show()

+---+----+---------+-------+-----------+-----------------+-----+----------+------+------------+-------+--------+---------+------+----+-----+---+------------+----------+---------+------------+
| id|name|full_name|address|json_string|dob_string_format|score|department|salary|hobbies_list|user_id|txn_date|txn_value|street|city|state|pin|clean_spaces|first_name|last_name|full_address|
+---+----+---------+-------+-----------+-----------------+-----+----------+------+------------+-------+--------+---------+------+----+-----+---+------------+----------+---------+------------+
+---+----+---------+-------+-----------+-----------------+-----+----------+------+------------+-------+--------+---------+------+----+-----+---+------------+----------+---------+------------+

In [31]:
df.select("json_string").show()

+--------------------+
|         json_string|
+--------------------+
|{"city": "Bengalu...|
|{"city": "Coimbat...|
|{"city": "Mumbai"...|
|{"city": "Salem",...|
|{"city": "Coimbat...|
|{"city": "Mumbai"...|
|{"city": "Bengalu...|
|{"city": "Mumbai"...|
|{"city": "Chennai...|
|{"city": "Chennai...|
|{"city": "Coimbat...|
|{"city": "Coimbat...|
|{"city": "Chennai...|
|{"city": "Chennai...|
|{"city": "Coimbat...|
|{"city": "Mumbai"...|
|{"city": "Salem",...|
|{"city": "Coimbat...|
|{"city": "Chennai...|
|{"city": "Chennai...|
+--------------------+
only showing top 20 rows

## ðŸ”¥ 3. Handling JSON Columns

Real-world datasets often contain nested JSON in a single column.

JSON Operations

from_json(col, schema): Converts a "string" that looks like JSON into a structured Spark object.

schema: This is required. You must tell Spark the structure (e.g., city is a String) so it knows how to parse the text.

to_json(col): The opposite of from_json. It turns a complex structure back into a simple text string, which is useful for saving data to certain file formats.

In [33]:
from pyspark.sql.functions import from_json
from pyspark.sql.types import StructType, StructField, StringType

schema = StructType([
    StructField("city", StringType()),
    StructField("zipcode", StringType())
])

df = df.withColumn("json_data", from_json("json_string", schema))

In [36]:
df.select("json_data").show()

+--------------------+
|           json_data|
+--------------------+
| {Bengaluru, 724094}|
|{Coimbatore, 494894}|
|    {Mumbai, 334596}|
|     {Salem, 041029}|
|{Coimbatore, 393996}|
|    {Mumbai, 995656}|
| {Bengaluru, 607197}|
|    {Mumbai, 512139}|
|   {Chennai, 122272}|
|   {Chennai, 559663}|
|{Coimbatore, 036996}|
|{Coimbatore, 754531}|
|   {Chennai, 831143}|
|   {Chennai, 061300}|
|{Coimbatore, 639831}|
|    {Mumbai, 980755}|
|     {Salem, 346144}|
|{Coimbatore, 438812}|
|   {Chennai, 469240}|
|   {Chennai, 254687}|
+--------------------+
only showing top 20 rows

## âœ” Extract fields

In [37]:
df.select("json_data.city", "json_data.zipcode").show()

+----------+-------+
|      city|zipcode|
+----------+-------+
| Bengaluru| 724094|
|Coimbatore| 494894|
|    Mumbai| 334596|
|     Salem| 041029|
|Coimbatore| 393996|
|    Mumbai| 995656|
| Bengaluru| 607197|
|    Mumbai| 512139|
|   Chennai| 122272|
|   Chennai| 559663|
|Coimbatore| 036996|
|Coimbatore| 754531|
|   Chennai| 831143|
|   Chennai| 061300|
|Coimbatore| 639831|
|    Mumbai| 980755|
|     Salem| 346144|
|Coimbatore| 438812|
|   Chennai| 469240|
|   Chennai| 254687|
+----------+-------+
only showing top 20 rows

## âœ” Convert struct â†’ JSON text

In [39]:
from pyspark.sql.functions import to_json

df = df.withColumn("json_string", to_json("json_data"))
df.show()

+---+--------------------+-------------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+------------------+--------------------+----------+-----------------+------+--------------------+----------+-------------+--------------------+--------------------+
| id|                name|          full_name|             address|         json_string|dob_string_format|score| department|salary|        hobbies_list|user_id|            txn_date|         txn_value|              street|      city|            state|   pin|        clean_spaces|first_name|    last_name|        full_address|           json_data|
+---+--------------------+-------------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+------------------+--------------------+----------+-----------------+------+--------------------+----------+-------------+--------------------+--------------------+
|  1|        Advik Halder|         Janya Bala|H.No. 916, Choksh...|{"city":"Bengalur...|       1974-10-29|   74|      Sales| 95186|       [Photography]|      2|2025-11-29 13:20:...|132.71083639903748|   20/662\nDua Nagar|Coimbatore|        Rajasthan|383408|         AdvikHalder|     Advik|       Halder|20/662\nDua Nagar...| {Bengaluru, 724094}|
|  2|         Omaja Baria|       Manya Bhakta|492, Dass Road, B...|{"city":"Coimbato...|       1978-04-26|   33|    Finance| 54210|[Gaming, Cooking,...|      3|2025-11-28 13:20:...|   829.31653998402|H.No. 913, Chande...| Bengaluru|    Uttar Pradesh|103082|          OmajaBaria|     Omaja|        Baria|H.No. 913, Chande...|{Coimbatore, 494894}|
|  3|        Unni Iyengar|    Timothy Chaudry|H.No. 511\nJain G...|{"city":"Mumbai",...|       1999-07-25|   47|         HR|113058|            [Coding]|      4|2025-12-06 13:20:...| 913.7253175783072|922, Krishnan Circle|Coimbatore|    Uttar Pradesh|040655|         UnniIyengar|      Unni|      Iyengar|922, Krishnan Cir...|    {Mumbai, 334596}|
|  4|    Manthan Kulkarni|Thomas Ramakrishnan|47\nMammen, Coimb...|{"city":"Salem","...|       1981-08-02|   70|Engineering|149570|[Gaming, Music, R...|      5|2025-11-29 13:20:...| 566.9216358462841|     48/18\nBir Zila|    Mumbai|         Nagaland|152655|     ManthanKulkarni|   Manthan|     Kulkarni|48/18\nBir Zila, ...|     {Salem, 041029}|
|  5|          Ayaan Rege|  Hiral Rajagopalan|95/81\nApte Marg,...|{"city":"Coimbato...|       1962-07-13|   80|Engineering| 78937|             [Music]|      6|2025-12-04 13:20:...| 271.9908394269114|      21\nLanka Ganj|Coimbatore|          Mizoram|752051|           AyaanRege|     Ayaan|         Rege|21\nLanka Ganj, C...|{Coimbatore, 393996}|
|  6|      Aarush Sanghvi|       Nitara Misra|05\nBawa Street, ...|{"city":"Mumbai",...|       1975-05-04|   71|      Sales|145117|[Sports, Farming,...|      7|2025-12-15 13:20:...|500.23970115839415|H.No. 79\nSachar ...|    Mumbai| Himachal Pradesh|005744|       AarushSanghvi|    Aarush|      Sanghvi|H.No. 79\nSachar ...|    {Mumbai, 995656}|
|  7|      Tristan Sahota|        Abdul Agate|H.No. 349\nNori M...|{"city":"Bengalur...|       1989-01-22|   33|      Sales| 34016|[Photography, Spo...|      8|2025-11-25 13:20:...|  540.363762364439|     58\nMall Circle|     Salem|            Assam|678621|       TristanSahota|   Tristan|       Sahota|58\nMall Circle, ...| {Bengaluru, 607197}|
|  8|Ikshita Radhakris...|        Mason Dugar|H.No. 54\nPai Cho...|{"city":"Mumbai",...|       1964-05-01|   63|    Finance|136837|[Photography, Music]|      9|2025-12-19 13:20:...| 814.9417332484913|      H.No. 76\nBawa|    Mumbai|      Uttarakhand|808613|IkshitaRadhakrishnan|   Ikshita|Radhakrishnan|H.No. 76\nBawa, M...|    {Mumbai, 512139}|
|  9|      Upadhriti Tata|Upadhriti Prabhakar|60/534, Swamy Pat...|{"city":"Chennai"...|       2007-11-06|   90|    Finance|123045|[Gaming, Cooking,...|     10|2025-12-16 13:20:...| 87.03625781156568| H.No. 939\nVig Ganj|     Salem|Arunachal Pradesh|621238|       UpadhritiTata| Upadhriti|         Tata|H.No. 939\nVig Ga...|   {Chennai, 122272}|
| 10|         Arya Sharma|Nitesh Mukhopadhyay|03\nDubey Ganj, M...|{"city":"Chennai"...|       1973-02-28|   73|Engineering| 36329|[Trekking, Cookin...|     11|2025-12-18 13:20:...|  72.5659838971842|  42/20, Pandey Ganj|    Mumbai|        Jharkhand|888836|          AryaSharma|      Arya|       Sharma|42/20, Pandey Gan...|   {Chennai, 559663}|
| 11|          Omya Verma|        Charvi Dave|H.No. 85\nTiwari ...|{"city":"Coimbato...|       1962-01-13|   68|Engineering| 76844|[Sports, Cooking,...|     12|2025-12-09 13:20:...| 281.7206309434518|         120\nLuthra|    Mumbai|          Manipur|401088|           OmyaVerma|      Omya|        Verma|120\nLuthra, Mumb...|{Coimbatore, 036996}|
| 12|         Tejas Kanda|      Aashi Kadakia|90/51\nPillai, Be...|{"city":"Coimbato...|       1963-01-01|   43|  Marketing|121007|            [Gaming]|     13|2025-12-03 13:20:...|230.00589320909074|     72, Tiwari Path|   Chennai|          Haryana|184056|          TejasKanda|     Tejas|        Kanda|72, Tiwari Path, ...|{Coimbatore, 754531}|
| 13|        Jairaj Walla|    Anthony Panchal|954\nZacharia Mar...|{"city":"Chennai"...|       2006-03-21|   33|    Finance|114744|[Music, Farming, ...|     14|2025-12-03 13:20:...| 537.9100470797238|     734, Salvi Road|     Salem|          Gujarat|219836|         JairajWalla|    Jairaj|        Walla|734, Salvi Road, ...|   {Chennai, 831143}|
| 14|        Jeet Chaudry|       Vivaan Anand|H.No. 203\nPatla ...|{"city":"Chennai"...|       1983-09-12|   50|  Marketing| 76061|          [Trekking]|     15|2025-12-10 13:20:...| 849.8031811335358|            96, Basu|Coimbatore|   Andhra Pradesh|228091|         JeetChaudry|      Jeet|      Chaudry|96, Basu, Coimbat...|   {Chennai, 061300}|
| 15|       Arunima Uppal|     Shivani Tailor|55/43, Pandey Gan...|{"city":"Coimbato...|       1981-04-20|   82|  Marketing|100911|[Farming, Gaming,...|     16|2025-12-14 13:20:...| 968.1346253002006|    H.No. 66\nShenoy| Bengaluru|           Kerala|498618|        ArunimaUppal|   Arunima|        Uppal|H.No. 66\nShenoy,...|{Coimbatore, 639831}|
| 16|    Upadhriti Sachar|        Nathan Loke|886, Chandra, Sal...|{"city":"Mumbai",...|       2005-08-12|   92|         HR| 99075|[Farming, Photogr...|     17|2025-12-03 13:20:...|  937.095377190446|      86, Muni Chowk|     Salem|    Uttar Pradesh|627474|     UpadhritiSachar| Upadhriti|       Sachar|86, Muni Chowk, S...|    {Mumbai, 980755}|
| 17|     Bhanumati Sethi|         Wazir Gera|172\nSolanki Naga...|{"city":"Salem","...|       1994-08-18|   80|  Marketing|119373|           [Farming]|     18|2025-12-02 13:20:...|  570.476390311164|  79/01\nChopra Marg| Bengaluru|          Tripura|357193|      BhanumatiSethi| Bhanumati|        Sethi|79/01\nChopra Mar...|     {Salem, 346144}|
| 18|         Darsh Chada|       Zaitra Handa|492\nMukhopadhyay...|{"city":"Coimbato...|       1993-11-05|   75|      Sales|126499|[Cooking, Coding,...|     19|2025-12-13 13:20:...|310.36500086880557|       90, Pau Chowk|Coimbatore|        Karnataka|506061|          DarshChada|     Darsh|        Chada|90, Pau Chowk, Co...|{Coimbatore, 438812}|
| 19|          Rishi Bail|       Tristan Iyer|659\nSodhi Zila, ...|{"city":"Chennai"...|       2007-10-02|   64|    Finance|105467|    [Coding, Gaming]|     20|2025-12-19 13:20:...| 80.59658796100761|H.No. 28, Mandal ...|Coimbatore|          Tripura|319286|           RishiBail|     Rishi|         Bail|H.No. 28, Mandal ...|   {Chennai, 469240}|
| 20|       Madhavi Ghose|       Samesh Bains|28/73\nBoase Chow...|{"city":"Chennai"...|       2002-02-17|   70|         HR|117193|[Photography, Rea...|     21|2025-12-23 13:20:...| 557.3296074747828| H.No. 92, Bir Chowk|Coimbatore|      West Bengal|663289|        MadhaviGhose|   Madhavi|        Ghose|H.No. 92, Bir Cho...|   {Chennai, 254687}|
+---+--------------------+-------------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+------------------+--------------------+----------+-----------------+------+--------------------+----------+-------------+--------------------+--------------------+
only showing top 20 rows

## ðŸ”¥ 4. Date & Timestamp Functions

PySpark automatically handles dates, but advanced transformations are extremely useful for time-series work.

PySpark is very strict with dates. Converting them correctly is essential for "Time Series" analysis.

to_date(col, format): Converts a string to a real Date type.

format: "yyyy-MM-dd". If your string is 29-11-2025, you would change this to "dd-MM-yyyy".

In [42]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- full_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- json_string: string (nullable = true)
 |-- dob_string_format: string (nullable = true)
 |-- score: long (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- hobbies_list: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- user_id: long (nullable = true)
 |-- txn_date: timestamp_ntz (nullable = true)
 |-- txn_value: double (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- pin: string (nullable = true)
 |-- clean_spaces: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- full_address: string (nullable = false)
 |-- json_data: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- zipcode: string (nullable = true)

In [45]:
df.select("dob_string_format").show(5)

+-----------------+
|dob_string_format|
+-----------------+
|       1974-10-29|
|       1978-04-26|
|       1999-07-25|
|       1981-08-02|
|       1962-07-13|
+-----------------+
only showing top 5 rows

## âœ” Convert string â†’ date

In [47]:
from pyspark.sql.functions import to_date

df = df.withColumn("dob", to_date("dob_string_format", "yyyy-MM-dd"))
df.select("dob").show(5)

+----------+
|       dob|
+----------+
|1974-10-29|
|1978-04-26|
|1999-07-25|
|1981-08-02|
|1962-07-13|
+----------+
only showing top 5 rows

In [48]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- full_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- json_string: string (nullable = true)
 |-- dob_string_format: string (nullable = true)
 |-- score: long (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- hobbies_list: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- user_id: long (nullable = true)
 |-- txn_date: timestamp_ntz (nullable = true)
 |-- txn_value: double (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- pin: string (nullable = true)
 |-- clean_spaces: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- full_address: string (nullable = false)
 |-- json_data: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- zipcode: string (nullable = true)
 |-- dob: date (nullable = true)

## âœ” Extract year/month/day

In [50]:
from pyspark.sql.functions import year, month, dayofweek

df.select(year("dob"), month("dob"), dayofweek("dob")).show(5)

+---------+----------+--------------+
|year(dob)|month(dob)|dayofweek(dob)|
+---------+----------+--------------+
|     1974|        10|             3|
|     1978|         4|             4|
|     1999|         7|             1|
|     1981|         8|             1|
|     1962|         7|             6|
+---------+----------+--------------+
only showing top 5 rows

## âœ” Calculate age

datediff(end, start): 

Returns the number of days between two dates.

In your notebook, you divide the result by 365 to convert "days" into "years" to calculate age.

In [53]:
from pyspark.sql.functions import datediff,current_date

df = df.withColumn("age", datediff(current_date(), "dob") / 365)

In [54]:
df.select("age").show(5)

+------------------+
|               age|
+------------------+
| 51.19178082191781|
|  47.6986301369863|
|26.438356164383563|
| 44.42739726027397|
| 63.49589041095891|
+------------------+
only showing top 5 rows

## ðŸ”¥ 5. Advanced Conditional Logic

You already know whenâ€¦ but hereâ€™s how to use multiple conditions the right way.

## âœ” If-Else ladder

In [55]:
from pyspark.sql.functions import when

df = df.withColumn(
    "rating",
    when(df.score >= 90, "Excellent")
    .when(df.score >= 70, "Good")
    .when(df.score >= 50, "Average")
    .otherwise("Poor")
)

In [58]:
df.select("score","rating").show()

+-----+---------+
|score|   rating|
+-----+---------+
|   74|     Good|
|   33|     Poor|
|   47|     Poor|
|   70|     Good|
|   80|     Good|
|   71|     Good|
|   33|     Poor|
|   63|  Average|
|   90|Excellent|
|   73|     Good|
|   68|  Average|
|   43|     Poor|
|   33|     Poor|
|   50|  Average|
|   82|     Good|
|   92|Excellent|
|   80|     Good|
|   75|     Good|
|   64|  Average|
|   70|     Good|
+-----+---------+
only showing top 20 rows

In [60]:
df.select("city").show()

+----------+
|      city|
+----------+
|Coimbatore|
| Bengaluru|
|Coimbatore|
|    Mumbai|
|Coimbatore|
|    Mumbai|
|     Salem|
|    Mumbai|
|     Salem|
|    Mumbai|
|    Mumbai|
|   Chennai|
|     Salem|
|Coimbatore|
| Bengaluru|
|     Salem|
| Bengaluru|
|Coimbatore|
|Coimbatore|
|Coimbatore|
+----------+
only showing top 20 rows

## âœ” Complex business rules

In [61]:
df = df.withColumn(
    "category",
    when((df.age > 18) & (df.city == "Chennai"), "Adult-Chennai")
    .otherwise("Others")
)

In [63]:
df.select("city","category").show()

+----------+-------------+
|      city|     category|
+----------+-------------+
|Coimbatore|       Others|
| Bengaluru|       Others|
|Coimbatore|       Others|
|    Mumbai|       Others|
|Coimbatore|       Others|
|    Mumbai|       Others|
|     Salem|       Others|
|    Mumbai|       Others|
|     Salem|       Others|
|    Mumbai|       Others|
|    Mumbai|       Others|
|   Chennai|Adult-Chennai|
|     Salem|       Others|
|Coimbatore|       Others|
| Bengaluru|       Others|
|     Salem|       Others|
| Bengaluru|       Others|
|Coimbatore|       Others|
|Coimbatore|       Others|
|Coimbatore|       Others|
+----------+-------------+
only showing top 20 rows

## ðŸ”¥ 6. Window Functions (Expert-Level Spark Feature)

Window functions help you perform:

    * Ranking

    * Moving averages

    * Cumulative sums

    * Partition-based calculations

## âœ” Ranking Example

ðŸªŸ 4. Window Functions (The "Expert" Tool)

Window functions allow you to calculate values across a group of rows without "collapsing" them like a groupBy does.

    * Window.partitionBy(col): Defines the group. For example, group by "department" to rank people within their own teams.
    
    * orderBy(col): Defines the order within that group (e.g., sort by salary to find the highest paid).
    
    * rowsBetween(start, end): Used for moving averages.
    
        * (-2, 0): This tells Spark to look at the 2 previous rows and the current row to calculate the average.

In [66]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

w = Window.partitionBy("department").orderBy(df.salary.desc())

df.withColumn("rank", row_number().over(w)).select("department","salary","rank").show()

+-----------+------+----+
| department|salary|rank|
+-----------+------+----+
|Engineering|149960|   1|
|Engineering|149878|   2|
|Engineering|149862|   3|
|Engineering|149840|   4|
|Engineering|149783|   5|
|Engineering|149769|   6|
|Engineering|149763|   7|
|Engineering|149750|   8|
|Engineering|149666|   9|
|Engineering|149626|  10|
|Engineering|149570|  11|
|Engineering|149565|  12|
|Engineering|149537|  13|
|Engineering|149384|  14|
|Engineering|149369|  15|
|Engineering|149340|  16|
|Engineering|149339|  17|
|Engineering|149329|  18|
|Engineering|149312|  19|
|Engineering|149267|  20|
+-----------+------+----+
only showing top 20 rows

In [68]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- full_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- json_string: string (nullable = true)
 |-- dob_string_format: string (nullable = true)
 |-- score: long (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- hobbies_list: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- user_id: long (nullable = true)
 |-- txn_date: timestamp_ntz (nullable = true)
 |-- txn_value: double (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- pin: string (nullable = true)
 |-- clean_spaces: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- full_address: string (nullable = false)
 |-- json_data: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- zipcode: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: double (nullable = true)
 |-- rating: string (nullable = false)
 |-- category: string (nullable = false)

## âœ” Moving average example

In [71]:
from pyspark.sql.functions import avg

w = Window.partitionBy("user").orderBy("txn_date").rowsBetween(-2, 0)

df.withColumn("moving_avg", avg("txn_value").over(w)).select("txn_date","txn_value","moving_avg").show()

+--------------------+------------------+------------------+
|            txn_date|         txn_value|        moving_avg|
+--------------------+------------------+------------------+
|2025-11-25 13:20:...|  540.363762364439|  540.363762364439|
|2025-11-25 13:20:...| 589.4899148285357| 564.9268385964874|
|2025-11-25 13:20:...| 40.43921437592683| 390.0976305229672|
|2025-11-25 13:20:...|332.70184686559713|320.87699202335324|
|2025-11-25 13:20:...| 707.0658935131419|360.06898491822193|
|2025-11-25 13:20:...| 800.6605250170453| 613.4760884652615|
|2025-11-25 13:20:...| 679.1531191622652| 728.9598458974841|
|2025-11-25 13:20:...| 411.2931107134427| 630.3689182975844|
|2025-11-25 13:20:...| 806.1203075702552| 632.1888458153211|
|2025-11-25 13:20:...| 236.5461646161805|484.65319429995947|
|2025-11-25 13:20:...| 999.8263220997602|  680.830931428732|
|2025-11-25 13:20:...| 907.9984994100212| 714.7903287086541|
|2025-11-25 13:20:...| 948.0847027472071| 951.9698414189961|
|2025-11-25 13:20:...|390.17078283680496| 748.7513283313443|
|2025-11-25 13:20:...| 48.50742837138489|  462.254304651799|
|2025-11-25 13:20:...| 900.4108494642829|446.36302022415765|
|2025-11-25 13:20:...| 461.5811951039554| 470.1664909798744|
|2025-11-25 13:20:...| 807.1555639449762| 723.0492028377381|
|2025-11-25 13:20:...|341.26959062289535| 536.6687832239423|
|2025-11-25 13:20:...| 517.7295223488752| 555.3848923055822|
+--------------------+------------------+------------------+
only showing top 20 rows

25/12/25 17:18:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/12/25 17:18:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/12/25 17:18:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/12/25 17:18:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/12/25 17:18:47 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

## ðŸ”¥ 7. Repartitioning & Coalescing (Performance)

âš¡ 5. Performance & Optimization
    These commands don't change your data, but they change how Spark runs the job.
    
    * repartition(n): Increases or redistributes data into n files. Use this if you have a massive dataset and want to use more of your CPU cores.
    
    * coalesce(n): Reduces the number of partitions. This is much faster than repartition because it doesn't move all the data around (no "shuffle").
    
    * cache() / persist(): Stores the DataFrame in the computer's memory (RAM).
    
        * Why? If you are going to use df for five different charts, cache() it so Spark doesn't have to re-read the original file five times.
    
    * broadcast(small_df): Used during a Join.

        * It sends a tiny table to every worker node. This prevents Spark from moving the "Big Table," making joins significantly faster.

## âœ” Increase partitions

In [72]:
df = df.repartition(10)

## âœ” Reduce partitions (faster than repartition)

In [75]:
df = df.coalesce(2)

## ðŸ”¥ 8. Caching & Persistence

Cache when you will reuse the same DataFrame multiple times.

In [78]:
df.cache()

25/12/25 17:22:06 WARN CacheManager: Asked to cache already cached data.

DataFrame[id: bigint, name: string, full_name: string, address: string, json_string: string, dob_string_format: string, score: bigint, department: string, salary: bigint, hobbies_list: array<string>, user_id: bigint, txn_date: timestamp_ntz, txn_value: double, street: string, city: string, state: string, pin: string, clean_spaces: string, first_name: string, last_name: string, full_address: string, json_data: struct<city:string,zipcode:string>, dob: date, age: double, rating: string, category: string]

In [80]:
df.count()

20000

Alternative:

In [82]:
df.persist()

25/12/25 17:22:40 WARN CacheManager: Asked to cache already cached data.

DataFrame[id: bigint, name: string, full_name: string, address: string, json_string: string, dob_string_format: string, score: bigint, department: string, salary: bigint, hobbies_list: array<string>, user_id: bigint, txn_date: timestamp_ntz, txn_value: double, street: string, city: string, state: string, pin: string, clean_spaces: string, first_name: string, last_name: string, full_address: string, json_data: struct<city:string,zipcode:string>, dob: date, age: double, rating: string, category: string]

## ðŸ”¥ 9. Broadcast Joins (High Performance)

For small lookup tables:

In [90]:
from pyspark.sql import Row
data=[
    Row(id=2818,exp=5),
    Row(id=10787,exp=7)
]
small_df=spark.createDataFrame(data)
small_df.show()

+-----+---+
|   id|exp|
+-----+---+
| 2818|  5|
|10787|  7|
+-----+---+

In [91]:
from pyspark.sql.functions import broadcast

df.join(broadcast(small_df), "id").show()

+-----+------------------+-------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+-----------------+-----------------+---------+-----------+------+-----------------+----------+---------+--------------------+--------------------+----------+------------------+---------+--------+---+
|   id|              name|    full_name|             address|         json_string|dob_string_format|score| department|salary|        hobbies_list|user_id|            txn_date|        txn_value|           street|     city|      state|   pin|     clean_spaces|first_name|last_name|        full_address|           json_data|       dob|               age|   rating|category|exp|
+-----+------------------+-------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+-----------------+-----------------+---------+-----------+------+-----------------+----------+---------+--------------------+--------------------+----------+------------------+---------+--------+---+
| 2818|     Samaksh Chada| Abha Dhingra|072\nSetty Marg, ...|{"city":"Salem","...|       1996-03-28|   95|Engineering| 51215|[Photography, Tre...|    319|2025-12-23 13:20:...|737.2872543856215|79/24, Barad Marg|Bengaluru|Uttarakhand|635180|     SamakshChada|   Samaksh|    Chada|79/24, Barad Marg...|     {Salem, 392556}|1996-03-28|29.764383561643836|Excellent|  Others|  5|
|10787|Jeremiah Mukherjee|Jonathan Rege|H.No. 731\nRastog...|{"city":"Coimbato...|       1996-08-25|   71|    Finance| 43745|[Cooking, Gaming,...|    288|2025-12-01 13:20:...|384.7680457192822|73/40, Saraf Road|   Mumbai|    Gujarat|639033|JeremiahMukherjee|  Jeremiah|Mukherjee|73/40, Saraf Road...|{Coimbatore, 478324}|1996-08-25|29.353424657534248|     Good|  Others|  7|
+-----+------------------+-------------+--------------------+--------------------+-----------------+-----+-----------+------+--------------------+-------+--------------------+-----------------+-----------------+---------+-----------+------+-----------------+----------+---------+--------------------+--------------------+----------+------------------+---------+--------+---+

This avoids expensive shuffles.

## ðŸŽ¯ 10. Best Practices People Rarely Teach

    * Avoid using UDFs unless absolutely needed
    
    * Prefer built-in functions (they are optimized)
    
    * Always specify schema for production workloads
    
    * Filter early â†’ reduces data size
    
    * Avoid wide transformations if possible
    
    * Prefer Parquet over CSV
    
    * Cache only when necessary
    
    * Monitor job plans using Spark UI